<h1>Impressum</h1>
<p>Whiskydo GmbH<br>
  FH Münster<br><br>

  Edgar Seibel, Andre Käthner, Christian Hauser
</p><br>
<h1>Kontakt</h1>
<p>E-Mail: info@whiskydo.de<br>
  Telefon: +49 123 45 678<br>
  Fax: Gibts nicht</p>